@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.2; }

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; }

.container {
  max-width: 1230px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
            column-gap: 30px; }
    .header__list_item {
      cursor: pointer; }
      .header__list_item img {
        display: inline-block;
        width: 114px;
        height: 40px; }
      .header__list_item a {
        text-decoration: none;
        color: inherit;
        -webkit-transition: .2s linear;
        transition: .2s linear; }
      .header__list_item:hover a {
        color: #f79e1b; }

.btn--mod {
  border: 1px solid #222222;
  border-radius: 50px;
  padding: 5px 30px;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .btn--mod:hover {
    background: #222222; }

.peacefull {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .peacefull__content {
    max-width: 400px; }
    .peacefull__content h3 {
      padding-left: 40px;
      font-size: 16px;
      line-height: 2;
      background: url("../img/play.svg") no-repeat left;
      background-size: 23px 23px;
      margin-bottom: 30px; }
    .peacefull__content h1 {
      font-size: 42px;
      margin-bottom: 30px; }
    .peacefull__content p {
      margin-bottom: 20px; }
  .peacefull__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px; }
    .peacefull__download a {
      text-decoration: none; }
      .peacefull__download a:hover img {
        -webkit-box-shadow: 0 7px 20px 3px rgba(34, 34, 34, 0.5);
                box-shadow: 0 7px 20px 3px rgba(34, 34, 34, 0.5); }

.boost {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .boost__content {
    max-width: 439px;
    padding-bottom: 120px; }
    .boost__content h2 {
      font-size: 36px;
      margin-bottom: 25px; }
    .boost__content p:nth-of-type(1) {
      margin-bottom: 15px; }

.zen {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .zen__content {
    max-width: 451px; }
    .zen__content h2 {
      font-size: 36px;
      margin-bottom: 25px; }
    .zen__content p {
      margin-bottom: 15px; }
      .zen__content p:last-child {
        margin-bottom: 0; }

.cashback {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cashback h2 {
    font-size: 36px; }
  .cashback p {
    max-width: 584px;
    text-align: center; }
  .cashback a {
    text-decoration: none;
    color: inherit;
    margin-top: 30px;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .cashback a:hover {
      color: #f79e1b; }

.banners {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 60px;
  -webkit-column-gap: 10px;
          column-gap: 10px; }
  @media only screen and (max-width: 500px) {
    .banners {
      grid-template-columns: repeat(2, 1fr); } }

.mastercard {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mastercard__content {
    max-width: 475px; }
    .mastercard__content h2 {
      font-size: 36px;
      position: relative;
      margin-bottom: 25px; }
      .mastercard__content h2::after {
        display: block;
        content: '\00AE';
        position: absolute;
        top: -20px;
        right: 20px; }
    .mastercard__content p {
      margin-bottom: 15px; }
  .mastercard__pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px; }
    .mastercard__pay a {
      text-decoration: none; }
      .mastercard__pay a img {
        -webkit-transition: .2s linear;
        transition: .2s linear; }
      .mastercard__pay a:hover img {
        -webkit-box-shadow: 0 5px 15px 1px rgba(34, 34, 34, 0.5);
                box-shadow: 0 5px 15px 1px rgba(34, 34, 34, 0.5); }

.shopping {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .shopping__content {
    max-width: 478px; }
    .shopping__content h2 {
      font-size: 36px;
      margin-bottom: 25px; }
    .shopping__content p {
      margin-bottom: 15px; }
      .shopping__content p:last-child {
        margin-bottom: 0; }

.app {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .app__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 465px;
            flex: 0 1 465px; }
    .app__content h2 {
      font-size: 36px;
      margin-bottom: 25px; }
    .app__content p {
      margin-bottom: 15px; }
      .app__content p:last-child {
        margin-bottom: 0; }

.account {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .account__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 470px;
            flex: 0 1 470px; }
    .account__content h2 {
      font-size: 36px;
      margin-bottom: 25px; }
    .account__content p {
      margin-bottom: 15px; }
      .account__content p:last-child {
        margin-bottom: 0; }
  .account__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px; }
    .account__download a img {
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .account__download a:hover img {
      -webkit-box-shadow: 0 5px 15px 1px rgba(34, 34, 34, 0.5);
              box-shadow: 0 5px 15px 1px rgba(34, 34, 34, 0.5); }

.footer {
  border-top: 1px solid #cccccc;
  padding: 0 0 50px 0; }
  .footer__first {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 192px));
    -webkit-column-gap: 9px;
            column-gap: 9px;
    row-gap: 30px; }
  .footer__block h4 {
    margin-bottom: 30px; }
  .footer__block ul {
    list-style: none; }
    .footer__block ul li {
      font-size: 14px;
      margin-bottom: 15px; }
      .footer__block ul li:last-child {
        margin-bottom: 0; }
      .footer__block ul li a {
        text-decoration: none;
        color: inherit; }
      .footer__block ul li:hover a {
        text-decoration: underline; }
  .footer__second {
    padding: 50px 0 0 0; }
  .footer__logo {
    margin-bottom: 20px; }
  .footer__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__description p {
      max-width: 836px;
      font-size: 12px;
      color: #aaaaaa;
      line-height: 1.2; }

/*# sourceMappingURL=style.css.map */